
body {
    font-size: 150%;
    font-family: sans, sans-serif;
    font-weight: medium;
    background-color: black;
    color: #eee;
}

code {
font-family: Courier, monospace;
background-color: black;
font-weight: bold;
}

pre.list {
font-family: Courier, monospace;
color: #eee;
border: 2px dashed black;
padding: 0.25em;
font-weight: bold;
}

pre.list:hover {
outline: 1px solid red;
}

pre.knitr {
    font-family: Courier, monospace;
    color: #eee;
    font-weight: bold;
    margin: 0.5em 0px;
    white-space: pre-wrap;
}

div.chunk:hover {
outline: 1px solid red;
}

#counter {
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid red;
    background: black;
    z-index: 5;
}

#index {
overflow: auto;
font-size: 70%;
/* width: 4em; */
height: 50%;
position: fixed;
top: 0;
right:0;
z-index: 6;
border: 1px solid red;
background: black;
}

#index ul {
    list-style-type: none;
    padding-left: 1em;
}

.title {
    font-size: 200%;
    text-align: center;
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    xwidth: 90%;
    background-color: black;
}

.slide img.fit {
    width: 100%;
}

img.mainpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide img .rimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide .rimage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div .centre {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div .left {
    width: 50%;
    left:0;
    top: 0;
    float: left;
}
div .right {
    width: 50%;
    right:0;
    top: 0;
    float: right;
}

h1 {
    text-align: center;
}

h1.sub {
font-size: 100%;
}

dt {
    margin-left: 1em;
    display: list-item;
    list-style-type: disc;
    }

dl.packagelist dt {
    font-family: monospace;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 0.5em;
}


dl.packagelist dd {
    margin-bottom: 1em;
}

ul li {margin-bottom: 20px}

ul:hover {
outline: 1px solid red;
}

div.syntaxhighlighter:hover {
outline: 1px solid red;
}
